mixin loginForm()
  form.form(method="POST") 
    h2 Login

    label(for="email") Email Address
    input(type="email" required name="email")

    label(for="password") password
    input(type="password" required name="password")

    input.button(type="Submit" value="Login")